@model progettoUMRidolfiPagani.ViewModels.DashboardViewModel

<div class="container">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Numero Totale Articoli</h5>
                    <p class="card-text">@Model.NumeroTotaleArticoli</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Numero Totale Movimenti</h5>
                    <p class="card-text">@Model.NumeroTotaleMovimenti</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Posizioni Disponibili</h5>
                    <p class="card-text">@Model.NumeroPosizioniDisponibili</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Articoli in Esaurimento</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome Articolo</th>
                        <th>Quantità</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var articolo in Model.ArticoliInEsaurimento)
                    {
                        <tr>
                            <td>@articolo.Codice</td>
                            <td>@articolo.Quantita</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Grafico Movimenti</h3>
            <div>
                <!-- Segnaposto per il grafico -->
                <canvas id="movimentiChart"></canvas>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Media Giorni Permanenza</h5>
                    <p class="card-text">@Model.MediaGiorniPermanenza</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('movimentiChart').getContext('2d');
    var chartData = @Json.Serialize(Model.GraficoMovimenti); // Usa il metodo di serializzazione integrato

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
