@model IEnumerable<progettoUMRidolfiPagani.Models.Storico>

    @{
    ViewData["Title"] = "Elenco Storici";
    }

    <h1>Elenco Storici</h1>

    <p>
        <a asp-action="Create">Crea Nuovo Storico</a>
    </p>

    <table class="table">
        <thead>
            <tr>
            <th>@Html.DisplayNameFor(model => model.DataOperazione)</th>
            <th>@Html.DisplayNameFor(model => model.DescrizioneOperazione)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
    {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DataOperazione)</td>
                <td>@Html.DisplayFor(modelItem => item.DescrizioneOperazione)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Elimina</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
