@model progettoUMRidolfiPagani.Models.Articolo

@{
    ViewData["Title"] = "Dettagli Articolo";
}

<h1>Dettagli Articolo</h1>

<div>
    <h4>Articolo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Modifica</a> |
    <a asp-action="Index">Torna alla lista</a>
</div>
