@model progettoUMRidolfiPagani.Models.Articolo

@{
    ViewData["Title"] = "Dettagli Articolo";
}

<h1>Dettagli Articolo</h1>

<div>
    <h4>Articolo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Codice Articolo
        </dt>
        <dd class="col-sm-10">
            @Model.Codice
        </dd>
        <dt class="col-sm-2">
            Descrizione
        </dt>
        <dd class="col-sm-10">
            @Model.Descrizione
        </dd>
        <dt class="col-sm-2">
            Quantità
        </dt>
        <dd class="col-sm-10">
            @Model.Quantita
        </dd>
        <dt class="col-sm-2">
            Posizione
        </dt>
        <dd class="col-sm-10">
            @Model.Posizione.Nome
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-warning">Modifica</a> |
    <a href="@Url.Action("Index")" class="btn btn-secondary">Torna all'elenco</a>
</div>
