@model IEnumerable<progettoUMRidolfiPagani.Models.Articolo>

    @{
    ViewData["Title"] = "Elenco Articoli";
    }

    <h1>Elenco Articoli</h1>

    <p>
        <a href="@Url.Action("Create")" class="btn btn-primary">Aggiungi Nuovo Articolo</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Codice Articolo</th>
                <th>Descrizione</th>
                <th>Quantità</th>
                <th>Posizione</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var articolo in Model)
    {
            <tr>
                <td>@articolo.Codice</td>
                <td>@articolo.Descrizione</td>
                <td>@articolo.Quantita</td>
                <td>@articolo.Posizione.Nome</td>
                <td>
                    <a href="@Url.Action("Details", new { id = articolo.Id })" class="btn btn-info">Dettagli</a>
                    <a href="@Url.Action("Edit", new { id = articolo.Id })" class="btn btn-warning">Modifica</a>
                    <a href="@Url.Action("Delete", new { id = articolo.Id })" class="btn btn-danger">Cancella</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
