@model IEnumerable<progettoUMRidolfiPagani.Models.Posizione>

    @{
    ViewData["Title"] = "Elenco Postazioni Magazzino";
    }

    <h1>Elenco Postazioni Magazzino</h1>

    <p>
        <a href="@Url.Action("Create")" class="btn btn-primary">Aggiungi Nuova Postazione</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Nome Postazione</th>
                <th>Descrizione</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var posizione in Model)
    {
            <tr>
                <td>@posizione.Nome</td>
                <td>@posizione.Descrizione</td>
                <td>
                    <a href="@Url.Action("Details", new { id = posizione.Id })" class="btn btn-info">Dettagli</a>
                    <a href="@Url.Action("Edit", new { id = posizione.Id })" class="btn btn-warning">Modifica</a>
                    <a href="@Url.Action("Delete", new { id = posizione.Id })" class="btn btn-danger">Cancella</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
