@model IEnumerable<progettoUMRidolfiPagani.Models.Movimento>

    @{
    ViewData["Title"] = "Elenco Movimenti";
    }

    <h1>Elenco Movimenti</h1>

    <p>
        <a asp-action="Create">Crea Nuovo Movimento</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DataMovimento)</th>
                <th>@Html.DisplayNameFor(model => model.Quantita)</th>
                <th>@Html.DisplayNameFor(model => model.TipoMovimento)</th>
                <th>@Html.DisplayNameFor(model => model.Articolo.Id)</th>
                <th>@Html.DisplayNameFor(model => model.PosizioneIniziale.Id)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
    {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DataMovimento)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantita)</td>
                <td>@Html.DisplayFor(modelItem => item.TipoMovimento)</td>
                <td>@Html.DisplayFor(modelItem => item.Articolo.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.PosizioneIniziale.Id)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Elimina</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
