@model progettoUMRidolfiPagani.Models.ArticoloDifettoso

@{
    ViewData["Title"] = "Elimina Articolo Difettoso";
}

<h1>Sei sicuro di voler eliminare questo articolo difettoso?</h1>

<div>
    <h4>Articolo Difettoso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Articolo.Codice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Articolo.Codice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Articolo.Descrizione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Articolo.Descrizione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataSegnalazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataSegnalazione)
        </dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Annulla</a>
    </div>
</form>
